.Wrapper {
  width: 100%;
  background: #dddddd;
  .Header {
    width: 100%;
    height: 100px;
    background: hotpink;
    margin-bottom: 32px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #FFFFFF;
    font-weight: bold;
  }
  .SideBar {
    width: 100%;
    background: #FFFFFF;
    padding: 16px;
    border-radius: 8px;
    -webkit-box-shadow: 0 0 10px 3px #d1d9dd;
    box-shadow: 0 0 10px 3px #d1d9dd;
    .Heading {
      font-weight: bold;
      margin-bottom: 23px;
    }
  }
}